<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>authentication</title>
</head>

<body>
    <div class="wrapper">
        <div class="form-div">
            <form action="authenticate" method="POST">
                <label for="email">email</label>
                <input type="text" name="email" id="email" required>
                <label for="password">password</label>
                <input type="password" name="password" id="password">
                <label for="password">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/change-password.js"></script>


</html>