<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>authentication</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Home page</h1>
            <% if(email){%>
                <div>welcome
                    <%= email%>
                </div>
                <%}%>
        </header>
        <div class="nav">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/auth/register">sign up</a></li>
                <a href="/auth/logout">logout</a>
            </ul>
        </div>
        <a href="/dashboard/send-invite">send invitation</a>
    </div>

</body>


</html>