<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>authentication</title>
</head>

<body>
    <div class="wrapper">
        <ul>
            <li><a href="/">home</a></li>
        </ul>
        <div class="form-div">
            <p>A recovery link has been sent to
                <span style="color: rgb(129, 178, 241);"><%= email%></span>
            </p>
            <p>open your mail and click on the link to proceed with recovery process</p>
            <p><span style="color: rgb(255, 48, 48);">link expires in 10 minutes</span></p>
        </div>
    </div>
</body>


</html>