<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>authentication</title>
</head>

<body>
    <div class="wrapper">

        <div class="form-div">
            <div class="server-response"></div>
            <form action="/static/register.js" method="POST">
                <div class="error">

                </div>
                <label for="fullName">Full Name</label>
                <input type="text" name="fullName" placeholder="eg. Santa BashKing" required>
                <label for="email">email</label>
                <input type="text" name="email" id="email" required>
                <label for="password">password</label>
                <input type="password" name="password" id="password" required>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
                <button type="submit">sign up</button>
            </form>

        </div>
        <a href="/auth/login">login</a>
    </div>

</body>
<script type="text/javascript" src="/static/register.js"></script>

</html>