body {
    background-color: gray;
    color: white;
    font-size: 14px;
}

.form-div {
    position: relative;
    background-color: darkgrey;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.server-error,
.server-response,
.error {
    color: rgb(255, 46, 133);
}

.email {
    opacity: 0.1;
}

.url-btn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn-div {
    display: flex;
}

.btb {
    visibility: hidden;
    display: flex;
    flex: 2
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(70, 67, 67);
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 35vw;
}